# Statistical Learning and Deep Learning - Homework 2
#### B08705038 資管四 郭子麟

## 第一題 [Data Processing]

### 讀檔並展示 dataframe 確認讀檔成功

In [93]:
import numpy as np
import pandas as pd

In [94]:
# create header list and read data to from a dataframe
headers = [
  'age', 
  'workclass', 
  'fnlwgt', 
  'education', 
  'educational-num', 
  'marital-status', 
  'occupation', 
  'relationship', 
  'race', 
  'gender', 
  'capital-gain', 
  'capital-loss', 
  'hours-per-week', 
  'native-country', 
  'income'
]

# because in the dataset, ? is used to represent missing values, we need to replace it with NaN
train_raw = pd.read_csv('adult.data', header=None, names=headers, na_values=['?'], skipinitialspace=True) # skipinitialspace=True is used to remove the space before the value
test_raw = pd.read_csv('adult.test', header=None, names=headers, skiprows=1, na_values=['?'], skipinitialspace=True) # first line is not data, so skip it

print("first 5 rows of train_raw:")
display(train_raw.head())

print("last 5 rows of train_raw:")
display(train_raw.tail())

print("first 5 rows of test_raw:")
display(test_raw.head())

print("last 5 rows of test_raw:")
display(test_raw.tail())

first 5 rows of train_raw:

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

last 5 rows of train_raw:

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

first 5 rows of test_raw:

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K.

last 5 rows of test_raw:

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
16277,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

### 將'>50K'與'<=50K'轉成 1 跟 0 並把含有 NaN 的 row 刪除

In [95]:
train_raw['income'] = train_raw['income'].map({'<=50K': 0, '>50K': 1})
test_raw['income'] = test_raw['income'].map({'<=50K.': 0, '>50K.': 1})

train_raw.dropna(inplace=True, axis=0)
test_raw.dropna(inplace=True, axis=0)

### 所有數值欄位標準化(均數為0，變異數為1)。測試資料特徵需用訓練資料的均數與變異數標準化。

In [96]:
from sklearn.preprocessing import StandardScaler
numeric_features = ['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']
scaler = StandardScaler()
train_raw[numeric_features] = scaler.fit_transform(train_raw[numeric_features])
test_raw[numeric_features] = scaler.transform(test_raw[numeric_features])

### 所有類別欄位(如native-country與workclass)都應使用"1-of-K"轉換成0與1的欄位。

In [97]:
categorical_features = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']
train_raw_with_dummies = pd.get_dummies(train_raw, columns=categorical_features)
test_raw_with_dummies = pd.get_dummies(test_raw, columns=categorical_features)

### 只考慮在訓練資料中出現超過(含) 10 次的特徵值。如果一個特徵值出現不到 10 次，則刪除這個特徵值所對應的 1-of-K 欄位。

In [98]:
categorical_features_dummies_to_remove = []
categorical_features_dummies_to_remove_for_test = []
# for all categorial columns in train_raw_with_dummies
for col in train_raw_with_dummies.columns:
    if col not in numeric_features and col != 'income':
		# if the feature appears less than 10 times, remove the column
        if train_raw_with_dummies[col].sum() < 10:
            categorical_features_dummies_to_remove.append(col)

print("features to remove:", categorical_features_dummies_to_remove)
train_raw_with_dummies.drop(categorical_features_dummies_to_remove, axis=1, inplace=True)
test_raw_with_dummies.drop(categorical_features_dummies_to_remove, axis=1, inplace=True, errors='ignore')

features to remove: ['occupation_Armed-Forces', 'native-country_Holand-Netherlands']

In [99]:
test_raw_with_dummies.shape, train_raw_with_dummies.shape

((15060, 103), (30162, 103))

### 生成 dictionary 並將 x_train, y_train, x_test, y_test 轉成 numpy array

In [100]:
y_train = train_raw_with_dummies['income'].values
y_test = test_raw_with_dummies['income'].values

# 按照 pickle 的 column 順序排列
import pickle
dsfile = 'adult_m50k.pickle'
with open(dsfile, 'rb') as fh1:
    adult50kp = pickle.load(fh1)
reordered_train_raw_with_dummies = pd.DataFrame(columns=adult50kp['columnname'])
reordered_test_raw_with_dummies = pd.DataFrame(columns=adult50kp['columnname'])
for col in adult50kp['columnname']:
    reordered_train_raw_with_dummies[col] = train_raw_with_dummies[col]
    reordered_test_raw_with_dummies[col] = test_raw_with_dummies[col]

x_train = reordered_train_raw_with_dummies.to_numpy()
x_test = reordered_test_raw_with_dummies.to_numpy()
print(x_train.shape, x_test.shape)

(30162, 102) (15060, 102)

In [101]:
adult50k = {
	'x_train': x_train,
	'y_train': y_train,
	'x_test': x_test,
	'y_test': y_test,
}

### 與 pickle 檔進行比對，確認處理完的 data 與 pickle 相同

In [102]:
import pickle
dsfile = 'adult_m50k.pickle'
with open(dsfile, 'rb') as fh1:
    adult50kp = pickle.load(fh1)

elems = ['x_train', 'x_test', 'y_train', 'y_test']

for aelem in elems:
    cnomatch = np.sum(adult50kp[aelem] != adult50k[aelem])
    if cnomatch == 0:
        print(aelem, "match!")
    else:
        print(aelem, "%d elements no match!" % cnomatch)

x_train match!
x_test match!
y_train match!
y_test match!